* {
    text-decoration: none;
}

body {
    background: gold;
    font-family: sans-serif;
}

.container {
    width: 50%;
    background-color: white;
    border-radius: 20px;
    margin: 50px auto 20px;
    padding: 30px;
    min-width: 510px;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
}
header {
    display:flex;
}
.title-box{
    width: 275px;
    margin-right: auto;
}
header h1{
    font-size: 20px;
    margin-bottom: 10px;
}
header p {
    margin-top: 0;
    margin-bottom: 10px;
}

.hashtag {
    color:rgb(116,115,115);
    font-size: 13px;
}
.perfil-foto{
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin-right: 20px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
}
.icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    margin-left: 10px;
}
@media only screen and (max-width: 1150px){
    .icons{
        flex-direction: column;
    }
    .title-box p {
        display: flex;
        flex-wrap: wrap;
    }
}
.icons i {
    margin: 0 0px 5px 20px;
    color: rgb(75,75,75);
}
.main-box{
    background-color: rgb(255,250,217);
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    padding-bottom: 40px;
}
.main-box h2 {
    text-align: center;
    margin: 0 auto 40px;
    display: block;
}
.main-box a{
    padding: 10px 10px 10px 5px;
}
.main-box a:hover {
    background-color: rgba(207,207,207,0.336);
}
ul {
    padding-left: 0;
    list-style: none;
}
a{
    color: #000;
}
li{
    margin: 10px;
}
.icons a:hover{
    color: goldenrod;
}
.tema{
    width: 50%;
    min-width: 510px;
    margin: 0 auto;
}
.theme-btn{
    background: none;
    padding: 8px;
    border: 0;
    border-radius: 100%;
}
.theme-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 6px;
    background-color: #fff;
    color: #000;
}
.theme-btn:hover{
    cursor: pointer;
    background-color: #000;
    color: #fff;
}
.dark{
    background-color: rgb(184,119,0);
}
.dark .container{
    background-color: rgb(29,29,29);
    color: rgb(182,182,182);
}
.dark .main-box{
    background-color: rab(48,48,48);
}
.dark h1,
.dark p,
.dark h2,
.dark a,
.dark .icons {
    color: rgb(182,182,182);
}
.dark .icons i:hover{
    color: orange;
}
.dark .theme-btn{
    background-color: #000;
    color: rgb(182,182,182);
}
.dark .theme-btn:hover{
    background-color: #fff;
    color: #000;
}